* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--abouttor-text-color);
  background-color: var(--abouttor-bg-toroff-color);
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* Hide the entire document by default to avoid showing the incorrect
 * I2P on / off status (that info must be retrieved from the chrome
 * process, which involves IPC when multiprocess mode is enabled). An
 * initialized attribute will be added as soon as the status is known.
 */
 body:not([initialized]) {
  display: none;
}

.background {
  background-color: #3960b5;
  padding: 120px;
  height: 100%;
}

p {
  margin-top: 40px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 32px;
  font-size: 17px;
}

.content {
  padding: 110px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 30px 200px rgba(61,0,84,0.7);
}

h1 {
  margin-right: auto;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}

.section-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

body[i2pon] .hideIfI2POn,
body:not([i2pon]) .hideIfI2POff,
body[i2pconsoleon] .hideIfI2PConsoleOn,
body:not([i2pconsoleon]) .hideIfI2PConsoleOff {
  display: none;
}

ul {
  margin-left: 2rem;
}
