* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
}

a {
    color: #3B6BBF;
    text-decoration: none;
    font-weight: bold;
    word-wrap: break-word;
    outline: none;
}

.applicationDesc {
    color: #81888f;
    text-decoration: none;
    font-weight: bold;
    word-wrap: break-word;
    outline: none;
}

a:hover {
    color: #495057;;
    text-decoration: none;
    font-weight: bold;
    word-wrap: break-word;
    outline: none;
}

.applicationDesc:hover {
    color: #495057;;
    text-decoration: none;
    font-weight: bold;
    word-wrap: break-word;
    outline: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Droid Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  /*color: var(--abouttor-text-color);*/
  /*background-color: var(--abouttor-bg-toroff-color);*/
  color: #495057;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-decoration: none;
  font-weight: bold;
  word-wrap: break-word;
  outline: none;
}

/* Hide the entire document by default to avoid showing the incorrect
 * I2P on / off status (that info must be retrieved from the chrome
 * process, which involves IPC when multiprocess mode is enabled). An
 * initialized attribute will be added as soon as the status is known.
 */
 body:not([initialized]) {
  display: none;
}

.background {
  background-color: #F8F8FF;
  /*padding: 120px;*/
  height: 100%;
}

p {
  font-weight: 300;
  line-height: 32px;
  font-size: 17px;
  font-family: "Droid Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif;
  text-decoration: none;
  color: #495057;
  font-weight: bold;
  word-wrap: break-word;
  outline: none;
}

.content {
  min-height: 3rem;
  padding: 1rem;
  margin: 1.5rem;
  display: inline-block;
  border: 1px solid #D9D9D6;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ccc;
  background: #F8F8FF;
  /*box-shadow: 0px 30px 200px rgba(61,0,84,0.7);*/
}

.extended-info {
  min-height: 3rem;
  padding: 1rem;
  margin-top: 1.5rem;
  display: inline-block;
  border: 1px solid #D9D9D6;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ccc;
  background: #F8F8FF;
  min-width: 50%;
}

.application-info {
  min-height: 3rem;
  padding: 1rem;
  margin-top: 1.5rem;
  display: inline-block;
  border: 1px solid #D9D9D6;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ccc;
  background: #F8F8FF;
}

h1 {
  margin-right: auto;
  font-family: "Droid Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  color: #41465f;
  border: 1px solid #dee2e6;
  border-radius: 2px 2px 0 0;
  width: 90%;
  padding-left: 5%;
}

h2 {
  margin-right: auto;
  font-family: "Droid Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: #41465f;
  border: 1px solid #dee2e6;
  border-radius: 2px 2px 0 0;
  width: 90%;
  padding-left: 5%;
}

h3 {
  margin-right: auto;
  font-family: "Droid Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: #41465f;
  border: 1px solid #dee2e6;
  border-radius: 2px 2px 0 0;
  width: 90%;
  padding-left: 5%;
}

h4 {
  margin-right: auto;
  font-family: "Droid Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px !important;
  text-transform: uppercase;
  color: #41465f;
  border: 1px solid #dee2e6;
  border-radius: 2px 2px 0 0;
  width: 90%;
  padding-left: 5%;
}

.showhider {
  margin-right: auto;
  font-family: "Droid Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background: none!important;
  border: none;
  padding: 0!important;
  width: 90%;
  padding-left: 5%;
  color: #3B6BBF;
  text-decoration: none;
  font-weight: bold;
  word-wrap: break-word;
  outline: none;
  text-align: left;
}

#links .showhider {
    font-size: 25px;
}

#info-content {
    display: none;
}

.section-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

body[i2pon] .hideIfI2POn,
body:not([i2pon]) .hideIfI2POff,
body[i2pproxyon] .hideIfI2PProxyOn,
body:not([i2pproxyon]) .hideIfI2PProxyOff,
body[i2pconsoleon] .hideIfI2PConsoleOn,
body:not([i2pconsoleon]) .hideIfI2PConsoleOff {
  display: none !important;
}

ul {
  margin-left: 2rem;
  list-style: none;
}

li {
    min-height: 3rem;
    padding: .5rem;
    margin-left: 32%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    background: #DEE2E6;
    border: 1px solid #DEE2E6;
    width: 64%;
    min-width: 64%;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ccc;
}

#readyness {
    min-height: 5rem;
    padding: .5rem;
    margin: .5rem;
    width: 42%;
    min-width: 42%;
    /*display: inline;*/
    background: #DEE2E6;
    /*float: right;*/
    text-align: center !important;
    border: 1px solid #DEE2E6;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ccc;
}

#onboarding {
    min-height: 5rem;
    padding: .5rem;
    margin: .5rem;
    width: 42%;
    min-width: 42%;
    font-size: 2rem;
    /*display: inline;*/
    background: #A48FE1;
    /*float: right;*/
    text-align: center !important;
    border: 1px solid #A48FE1;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ccc;
}

#i2pbrowser-description {
    width: 50%;
    min-width: 50%;
    min-height: 5rem;
    padding: .5rem;
    display: inline;
    background: #DEE2E6;
    float: right;
    border: 1px solid #DEE2E6;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ccc;
}

#applicationExplain {
    min-height: 5rem;
    padding: .5rem;
    margin: .5rem;
    width: 30%;
    min-width: 30%;
    /*display: inline;*/
    background: #DEE2E6;
    float: left;
    text-align: center !important;
    border: 1px solid #DEE2E6;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ccc;
}

#linksExplain {
    min-height: 5rem;
    padding: .5rem;
    margin: .5rem;
    width: 30%;
    min-width: 30%;
    /*display: inline;*/
    background: #DEE2E6;
    float: left;
    text-align: center !important;
    border: 1px solid #DEE2E6;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ccc;
}

#proxyReady {
    min-height: 3rem;
    padding: .5rem;
    margin: .2rem;
    width: 38%;
    min-width: 38%;
    display: inline;
    background: #D9D9D6;
    float: right;
    text-align: center !important;
    border: 1px solid #D9D9D6;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ccc;
}

#proxyUnready {
    min-height: 3rem;
    padding: .5rem;
    margin: .2rem;
    width: 38%;
    min-width: 38%;
    display: inline;
    float: right;
    text-align: center !important;
    border: 1px solid #FFC56D;
    border-radius: 2px;
    background: #FFC56D;
    box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ccc;
}

#consoleOn {
    min-height: 3rem;
    padding: .5rem;
    margin: .2rem;
    width: 38%;
    min-width: 38%;
    display: inline;
    float: left;
    text-align: center !important;
    border: 1px solid #F7E59A;
    border-radius: 2px;
    background: #F7E59A;
    box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ccc;
}

#onboardingContentZero {
    display: none;
}
#onboardingContentOne {
    display: none;
}
#onboardingContentTwo {
    display: none;
}
#onboardingContentThree {
    display: none;
}
#onboardingContentFour {
    display: none;
}
.onboardingContent {
    font-size: .8rem !important;
    text-align: left;
}